body{
    height: 100vh;
    width: 100vw;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;

    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    transition: background-color 1s ease-in-out;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('./himmel-s-dWA6dS_uVwk-unsplash.jpg');
    background-size: cover;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}
.coverCard {
    background-image: url('./himmel-s-dWA6dS_uVwk-unsplash.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
  .coverCard__title, .coverCard__title-shadow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    font-size: 180px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
  }
  .coverCard__title {
    background: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(5px);
    top: -150px;
  }
  .coverCard__title_transparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .coverCard__title-shadow {
    left: 50vw;
  }
  .coverCard__title-shadow_white {
    position: relative;
    left: -50vw;
    /* top: 150px; */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .coverCard__content {
    position: relative;
    z-index: 2;
    width: 50vw;
    display: flex;
    align-items: flex-end;
    height: 100vh;
  }
  .coverCard .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: start;
  }
  .coverCard__subTitle {
    text-transform: uppercase;
  }
  .coverCard__link {
    padding: 12px 20px;
    background: white;
    text-decoration: none;
    color: black;
    mix-blend-mode: screen;
    font-weight: bold;
    border-radius: 4px;
    transition: opacity 0.2s;
  }
  .coverCard__link:hover {
    opacity: 0.5;
  }
  .coverCard__link:hover, .coverCard__link:visited {
    color: black;
  }
  
  @media screen and (max-width: 1000px) {
    .coverCard__title, .coverCard__title-shadow {
      font-size: 150px;
    }
  }
  @media screen and (max-width: 600px) {
    .coverCard__content {
      width: 80vw;
    }
    .coverCard__content .container {
      gap: 20px;
    }
    .coverCard__title, .coverCard__title-shadow {
      font-size: 80px;
    }
    .coverCard__title {
      width: 80vw;
    }
    .coverCard__title-shadow {
      left: 80vw;
      width: 20vw;
    }
    .coverCard__title-shadow_white {
      left: -80vw;
    }
  }
